@model ITSearch.Models.IOSDevice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IOSDevice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceIdentifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceIdentifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StringDeviceConfiguration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StringDeviceConfiguration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StringYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StringYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
