@model ITSearch.Models.Computer

@{
    ViewData["Title"] = "Details";
}

<style>


    .container {
        max-width: 2000px !important;
    }

    #bootstrapOverride {
        max-width: 2500px;
        width: 100%;
    }

    #gridHalfBlock {
        background-color: #ECEFF8;
        @*margin: 20px;*@
        @*padding: 100px;*@
        @*padding-right: 20px;*@
        @*width: 100px;*@
        @*width: 40%;*@
    }

</style>


<div class="container" >
    <h1>Details</h1>
    <div class="row">
        <div id="gridHalfBlock" class="col-md-6">
            <div>
                <h4>Computer</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Model)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Model)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Year)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Year)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ModelIdentifier)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ModelIdentifier)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Size)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Size)
                    </dd>
                </dl>
            </div>
        </div>
        <div id="gridHalfBlock" class="col-md-5 ml-auto">
            <a>TESTESTSETEs</a>
        </div>
    </div>


    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
