@model ITSearch.Models.ViewModels.GeneralViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>IOS Devices</h1>


<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="IOSDevices">Add New</a>
</p>
<table id="iosTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IOSDevice.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IOSDevice.DeviceIdentifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IOSDevice.DeviceModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IOSDevice.StringDeviceConfiguration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IOSDevice.StringYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IOSDevice.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.IOSDevices)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceIdentifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StringDeviceConfiguration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StringYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td class="btn-group">
                @*<span>*@
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-controller="IOSDevices" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="IOSDevices" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="IOSDevices" asp-route-id="@item.Id">Delete</a>
                @*</span>*@
            </td>
        </tr>
        }
    </tbody>
</table>


@section scripts
    {
    <script>
        $('#iosTable').dataTable({
            "processing": true
        });
    </script>
}