@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ITSearch.Models.ViewModels.iFixitViewModel

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div>
    <a asp-action="CallApi" asp-controller="IFixit">Start</a>

    <form asp-controller="IFixit" asp-action="CallApi" method="post">
        <div class="input-group mb-3">
            <input id="searchTerm" asp-for="NewSearch.SearchText" asp-action="CallApi" asp-controller="IFixit"
                   type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="search here:">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

</div>




@if (Model != null && Model.IFixitSearchResult.results != null)
{
    <table id="serviceTable" class="table table-striped table-bordered dt-responsive" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IFixitJsonResult.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IFixitJsonResult.subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IFixitJsonResult.difficulty)
                </th>
                <th>
                    Image
                </th>
                <th>Actions</th>
            </tr>
        </thead>



        <tbody>
            @foreach (var item in Model.IFixitSearchResult.results)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                @if (item.dataType == "wiki")
                {
                    <td>
                        Wiki Article
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.wikiid)
                    </td>
                }
                else if (item.dataType == "guide")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.difficulty)
                    </td>
                }

                @if (item.image != null)
                {
                    <td>
                        <img class="img-thumbnail" src="@item.image.thumbnail" />
                    </td>
                } else
                {
                    <td>No image</td>
                }



                <td class="btn-group">
                    @if (item.dataType == "guide")
                    {
                        @Html.ActionLink("View Guide", "ViewGuide", "IFixit", new { item.guideid }, new { @class = "btn btn-sm btn-success" })
                    }
                    else if (item.dataType == "wiki")
                    {
                        @Html.ActionLink("View Wiki", "ViewWiki", "IFixit", routeValues: new { wikiTitle = item.title }, new { @class = "btn btn-sm btn-primary" })
                    }


                    @*<a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item">Details</a>*@
                    <a class="btn btn-sm btn-warning" href="@item.url">View On iFixit</a>
                    @*</span>*@
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-success font-weight-bold" role="alert">
        Sorry, no results found
    </div>
}

@section scripts
    {
    <script>
        $('#serviceTable').dataTable({
            "processing": true
        });
    </script>
}