@{
    Layout = "_Layout";
}

@model ITSearch.Models.ViewModels.WikiViewModel


<h3>@Model.WikiPost.title</h3>
<div class="float-container">
    <h5>@Model.WikiPost.description</h5>
    <img src="@Model.WikiPost.image" />
    <br />
    <div class="float-child">
        @if (Model.WikiPost.guides != null)
        {
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @foreach (var guide in Model.WikiPost.guides)
                {
                    <a class="dropdown-item" asp-action="ViewGuide"></a>
                    @Html.ActionLink("View Guide", "ViewGuide", "IFixit", routeValues: new { guideId = guide.guideid }, new { @class = "btn btn-sm btn-primary" })
                }
            </div>
        }
    </div>

    <div class="float-child">
        @if (Model.WikiPost.guides != null)
        {
            foreach (var guide in Model.WikiPost.guides)
            {

                <div class="card" style="width: 18rem;">
                    @*<img class="card-img-top" src="@guide.image.medium" alt="Card image cap">*@
                    <div class="card-body">
                        <h5 class="card-title">@guide.subject</h5>
                        <p class="card-text">@guide.summary</p>
                        @Html.ActionLink("View Guide", "ViewGuide", "IFixit", routeValues: new { guideId = guide.guideid }, new { @class = "btn btn-sm btn-primary" })
                        @*<a asp-action="ViewGuide" asp-controller="IFixit" asp-all-route-data="@guide.guideid" class="btn btn-primary">View Guide</a>*@
                    </div>
                </div>
            }
        }
    </div>
</div>
