@{
    Layout = "_Layout";
}

@model ITSearch.Models.ViewModels.WikiViewModel

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<h3>@Model.WikiPost.title</h3>
<div class="container">
    <h5>@Model.WikiPost.description</h5>
    <img src="@Model.WikiPost.image" />
    <br />

    @if (Model.WikiPost.featured_guides != null)
    {
        <table id="wikiTable" class="table table-striped table-bordered dt-responsive">

            <thead>
                <tr>
                    <th>Component</th>
                    <th>Description</th>
                    <th>View Guide</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var guide in Model.WikiPost.featured_guides)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => guide.subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => guide.summary)
                        </td>
                        <td>
                            @Html.ActionLink("View Guide", "ViewGuide", "IFixit", routeValues: new { guideId = guide.guideid }, new { @class = "btn btn-sm btn-primary" })
                        </td>
                    </tr>


                }
            </tbody>
        </table>

    }

    @if (Model.WikiPost.guides != null)
    {
        <table id="wikiGuidesTable" class="table table-striped table-bordered dt-responsive">

            <thead>
                <tr>
                    <th>Component</th>
                    <th>Description</th>
                    <th>View Guide</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var guide in Model.WikiPost.guides)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => guide.subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => guide.summary)
                        </td>
                        <td>
                            @Html.ActionLink("View Guide", "ViewGuide", "IFixit", routeValues: new { guideId = guide.guideid }, new { @class = "btn btn-sm btn-primary" })
                        </td>
                    </tr>


                }
            </tbody>
        </table>

    }
</div>

<br />
<br />
<br />

@section scripts
    {
    <script>
        $('#wikiTable').dataTable({
            "processing": true
        });
        $('#wikiGuidesTable').dataTable({
            "processing": true
        });
    </script>
}