@model ITSearch.Models.ViewModels.GeneralViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Computers</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Computers">Add New</a>
</p>


<form asp-controller="Computers" asp-action="search" method="post">
    <div class="input-group mb-3">
        <input id="searchTerm" asp-for="NewSearch.SearchText" asp-action="search" asp-controller="Computers"
               type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="search here:">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>

<table id="computerTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Computer.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer.StringYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer.ModelIdentifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Computers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StringYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelIdentifier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td class="btn-group">
                    @*<span>*@
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-controller="Computers" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Computers" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="Computers" asp-route-id="@item.Id">Delete</a>
                    @*</span>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<br />


@section scripts
    {
    <script>
        $('#computerTable').dataTable({
            "processing": true
        });
    </script>
}